<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-contents col-sm-6">
        <h5 class="footer-title">ABOUT NEWS MAP</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
      </div>
      <div class="footer-contents col-sm-6">
        <h5>CONTACT US</h5>
        <p>Data Mining Laboratory</p>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="copyright-content">
      <h5>Copyright Data Mining Laboratory</h5>
    </div>
  </div>
</div>
</body>
</html>
