<% include partials/header0 %>
<% include partials/nav %>

<div class="container">
  <div class="question">
    <h1>QUESTION 2-8)</h1>
    <h2>각 맵에 대해 상세 평가</h2>
  </div>
  <%
    var mapa = '/cohMap/'+dataset[0]
    var mapb = '/cohMap/'+dataset[1]
    var locA = "location.href='"+mapa+"'";
    var locB = "location.href='"+mapb+"'";
    console.log(locA)
  %>
  <button type="button" class="btn btn-primary btn-lg active" onclick="<%=locA%>">Map A</button>
  <button type="button" class="btn btn-default btn-lg active" onclick="<%=locB%>">Map B</button>

</div>

<% include partials/footer0 %>
