body{
  font-family: 'Open Sans';
}

.navbar{
  margin-bottom: 0px;
}

.navbar-header{
  font-size: 16px;
  letter-spacing: 5px;
}

.navbar-nav{
  font-size: 15px;
}


.footer{
  background-color: #edeff2;
}

.footer-contents{
  color: #676770;
  padding-bottom: 20px;
  padding-top: 20px;
}

h5 {
  font-size: 16px;
}

.copyright{
  background-color: #333333;
  display: table;
  height: 65px;
  width: 100%;
}

.copyright-content{
  color: #8e8e9c;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.pink{
  background-color: pink;
}

.cy{
  background-color: #edeff2;
  height: 500px;
}


.cy-title {
    text-align: center;
    font-size: 13px;
    width: 150px;
}

.cy-title__name {
    color: #000;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-bottom: 0;
    text-transform: capitalize;
}

.cy-title__info {
    color: #9c9c9c;
    font-size: 0.8em;
    line-height: 0.9em;
    margin-bottom: 0.3em;
}
